
.blanc {

    color: #d2d9e0;
    border: white solid 5px;
    padding: 20px;

}
a{
    color: dodgerblue;
}

.avatar {
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

h1 {
    font-size: 32px;
    font-weight: lighter;
}

p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

