

.blanc {
    padding: 10px;
    color: #495057;
    width: 50%;
    height: 100%;
    background-color: #fff;
    opacity: 0.95;
    margin: 15% auto;
    border: 1px solid #722dd2;
    border-radius: 0.4rem;
    text-align: center;
}

.avatar{
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
    width: 100px;
}

h1 {
    font-size: 32px;
    font-weight:lighter;
    font-weight: lighter;
}

p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
}

.iconify {
    color: dark-blue;
    width: 32px;
    height: 32px;
}

