* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {
    background: #fcfcfc;

    font-family: sans-serif;

}

footer {
    position: fixed;
    bottom: 0;

    left: 0;

    right: 0;


    background: #111;
    color: white;
    height: 120px;
    font-size: medium;

    padding: 3px;
    width: 100vw;
    text-align: start;

    opacity: 0.4;


}
@media screen and (max-width: 700px) {
    .photo img{
        height:13em;
    }
    button {
        background: none;

        border: none;
        cursor: pointer;
    }
    button{
        height: 100%;
    }
    h1,h2{
        height: 1em;
    }

    .footer{
        display: none;
    }
}